body {
  background-color: rgb(233, 252, 252);
}
.skin-blue .wrapper {
  background-color: #222d32;
}
.wrapper {
  min-height: 100%;
  position: static;
  overflow: hidden;
}

.homePageFooterDiv {
  background-color: #f9f9f9;
}

footer {
  display: block;
}

@media (min-width: 1200px) {
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
}

.no-padding {
  padding: 0 !important;
}

.search-form .v_field__content {
  font-size: 16px;
}
.search-form .v_field__text,
.search-form .v_field__description {
  margin-bottom: 0px;
}
.search-form .v_field__text,
.search-form .v_field__description {
  margin-bottom: 0px;
}

body,
table.body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
td,
th,
a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  color: #494b55;
}
